@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
html {
  scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 16px;
  box-sizing: border-box;
  color: white; }

body {
  background-color: #444444; }

#encabezado {
  z-index: 5;
  width: 100vw;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: .5s ease-in-out; }
  #encabezado ion-icon {
    width: 28px;
    height: 28px;
    cursor: pointer; }
  #encabezado h1 {
    font-weight: 700;
    padding: 0 20px;
    font-size: calc(1.2rem + .5vw);
    border-radius: 8px; }
  #encabezado #btn-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    padding: 0 5px;
    border-radius: 8px; }
  #encabezado #navegador {
    position: relative; }
    #encabezado #navegador #btn-cerrar {
      position: absolute;
      right: 20px;
      top: 20px; }
    #encabezado #navegador .nav-lista {
      height: 100%;
      display: flex; }
      #encabezado #navegador .nav-lista .li-item {
        padding: 5px 10px;
        transition: 0.5s;
        margin: 0 10px;
        border-radius: 8px; }
        #encabezado #navegador .nav-lista .li-item a {
          letter-spacing: .5px;
          font-size: 1rem;
          transition: 0.5s; }
      #encabezado #navegador .nav-lista .li-item.select {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 1px 2px 4px rgba(59, 59, 59, 0.2); }
        #encabezado #navegador .nav-lista .li-item.select a {
          color: white; }
  #encabezado #navegador.show {
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: 0.8s ease-in-out; }
    #encabezado #navegador.show .nav-lista {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #encabezado #navegador.show .nav-lista li {
        height: fit-content;
        margin: 30px 0; }
  #encabezado .blur {
    transition: .5s ease-in-out; }

#inicio {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  position: relative; }
  #inicio .contenedor-peliculas {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-star; }
    #inicio .contenedor-peliculas .box-pelicula {
      margin: 0 40px;
      margin-top: 20px;
      cursor: pointer; }
      #inicio .contenedor-peliculas .box-pelicula img {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.6);
        transition: 0.8s; }
      #inicio .contenedor-peliculas .box-pelicula .detalle {
        border-bottom: solid 0.5px rgba(255, 255, 255, 0.2);
        position: relative; }
        #inicio .contenedor-peliculas .box-pelicula .detalle h1 {
          font-size: calc(2rem + .5vw);
          text-transform: capitalize;
          font-family: "Bakbak One";
          -webkit-text-stroke: 0.5px rgba(221, 221, 221, 0.9);
          color: transparent;
          transition: 0.5s ease-in-out; }
        #inicio .contenedor-peliculas .box-pelicula .detalle .genero {
          font-weight: 500;
          transition: 0.5s ease-in-out;
          text-transform: uppercase;
          font-size: .8rem;
          letter-spacing: 1px;
          color: rgba(221, 221, 221, 0.9); }
        #inicio .contenedor-peliculas .box-pelicula .detalle .intertitulo {
          color: rgba(221, 221, 221, 0.9);
          transition: 0.5s ease-in-out;
          font-size: calc(.5rem + .5vw);
          text-transform: capitalize;
          position: relative;
          bottom: 10px;
          left: 5px; }
        #inicio .contenedor-peliculas .box-pelicula .detalle .duracion {
          color: rgba(221, 221, 221, 0.9);
          display: inline;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          font-size: calc(.9rem + .5vw); }
          #inicio .contenedor-peliculas .box-pelicula .detalle .duracion span {
            color: rgba(221, 221, 221, 0.9);
            font-size: .85rem; }
    #inicio .contenedor-peliculas .box-pelicula.selected {
      opacity: 1;
      /* 
            border-bottom: solid .5px white; */ }
      #inicio .contenedor-peliculas .box-pelicula.selected img {
        opacity: 1;
        z-index: -1; }
      #inicio .contenedor-peliculas .box-pelicula.selected .detalle h1 {
        color: white;
        -webkit-text-stroke: 0;
        font-size: calc(2.5rem + .5vw);
        /*line-height: 38px;
                    margin-bottom: 20px; */ }
      #inicio .contenedor-peliculas .box-pelicula.selected .detalle .genero {
        color: white; }
      #inicio .contenedor-peliculas .box-pelicula.selected .detalle .intertitulo {
        color: white;
        font-size: calc(.6rem + .8vw); }
      #inicio .contenedor-peliculas .box-pelicula.selected .detalle .duracion {
        color: white; }
        #inicio .contenedor-peliculas .box-pelicula.selected .detalle .duracion span {
          color: white; }
  #inicio .mas {
    position: absolute;
    top: 30%;
    right: 20px; }
    #inicio .mas a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }
      #inicio .mas a p {
        font-size: .8rem; }
      #inicio .mas a ion-icon {
        width: 22px;
        height: 22px; }

.cuerpo-exposicion-cartelera {
  /* min-width: 100vw;
    min-height: 100vh; */
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'a1 a2';
  overflow-x: hidden; }
  .cuerpo-exposicion-cartelera .fondo-pelicula {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    transform-origin: center;
    transition: 1s;
    z-index: -1;
    filter: brightness(0.8); }
  .cuerpo-exposicion-cartelera .extend-letra-encabezado, .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-encabezado, .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .duracion-clasificacion .it-encabezado p, .cuerpo-exposicion-cartelera .lateral .informacion-general .it-encabezado {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem; }
  .cuerpo-exposicion-cartelera .extend-letra-contenido, .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-contenido ul li, .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .duracion-clasificacion, .cuerpo-exposicion-cartelera .lateral .informacion-general .it-contenido {
    font-size: .85rem;
    text-transform: capitalize; }
  .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula {
    grid-area: a1;
    padding: 20% 5% 5% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 'a1 a1' 'a2 a3'; }
    .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .contenedor-informacion {
      grid-area: a1; }
      .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .contenedor-informacion .titulo-pelicula {
        font-weight: 700;
        text-transform: capitalize;
        font-size: calc(2rem + 1vw); }
      .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .contenedor-informacion .intertitulo-pelicula {
        font-size: calc(1rem + .3vw);
        padding-left: 10px;
        text-transform: capitalize;
        position: relative;
        top: -10px;
        font-style: italic; }
      .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .contenedor-informacion .descripcion-pelicula {
        max-width: 35vw; }
    .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto {
      grid-area: a2; }
      .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-ver-mas {
        margin-top: 15px;
        position: relative; }
        .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-ver-mas a {
          color: rgba(221, 221, 221, 0.9);
          font-size: 12px;
          text-transform: capitalize;
          display: flex;
          justify-content: start;
          align-items: center;
          transition: .5s; }
          .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-ver-mas a ion-icon {
            transition: .5s;
            width: 13px;
            height: 13px;
            color: rgba(221, 221, 221, 0.9);
            margin-left: 5px; }
        .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-ver-mas a:hover {
          color: white; }
          .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .reparto .it-ver-mas a:hover ion-icon {
            transform: translateX(100%);
            color: white; }
    .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .duracion-clasificacion {
      grid-area: a3;
      justify-self: center; }
      .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .duracion-clasificacion .it-encabezado {
        display: flex;
        align-items: center; }
        .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .duracion-clasificacion .it-encabezado ion-icon {
          width: 15px;
          height: 15px;
          padding-right: 5px; }
  .cuerpo-exposicion-cartelera .lateral {
    max-width: 300px;
    grid-area: a2;
    justify-self: end;
    backdrop-filter: blur(3px);
    border-left: solid 0.5px rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 'a1' 'a2';
    padding-top: 20vh;
    padding-bottom: 30px; }
    .cuerpo-exposicion-cartelera .lateral .informacion-general {
      grid-area: a1;
      margin-left: 30px; }
      .cuerpo-exposicion-cartelera .lateral .informacion-general .it-encabezado {
        margin-top: 20px; }

@media only screen and (max-width: 750px) {
  #encabezado #navegador ul {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    #encabezado #navegador ul li {
      height: 60px !important;
      width: 100%; }
      #encabezado #navegador ul li a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px !important; } }

@media only screen and (max-width: 550px) {
  #inicio .contenedor-peliculas .box-pelicula {
    margin-right: 0;
    margin-left: 0; } }

@media only screen and (max-width: 810px) and (max-height: 1080px) {
  .cuerpo-exposicion-cartelera {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 'a1' 'a2'; }
    .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .contenedor-informacion .descripcion-pelicula {
      max-width: 70vw; }
    .cuerpo-exposicion-cartelera .lateral {
      padding: 10vh 1rem;
      border-left: 0;
      border-top: solid 0.5px rgba(255, 255, 255, 0.2);
      max-width: none;
      width: 100%;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'a1 a2'; }
      .cuerpo-exposicion-cartelera .lateral .trailer iframe {
        width: 100%;
        height: 100%;
        object-fit: cover; } }

@media only screen and (max-width: 430px) and (max-height: 920px) {
  .cuerpo-exposicion-cartelera {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a1' 'a2'; }
    .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula {
      grid-template-rows: 2fr .5fr;
      padding: 10vh 5vw;
      padding-top: 20vh;
      padding-left: 8vw;
      height: 90vh; }
      .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula .contenedor-informacion .descripcion-pelicula {
        max-width: 80vw; }
    .cuerpo-exposicion-cartelera .lateral {
      max-width: none;
      width: 100%;
      border-left: 0;
      border-top: solid 0.5px rgba(255, 255, 255, 0.2);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'a1' 'a2'; }
      .cuerpo-exposicion-cartelera .lateral .trailer {
        grid-area: a2;
        align-self: center;
        height: 210px; }
        .cuerpo-exposicion-cartelera .lateral .trailer iframe {
          height: 100%;
          width: 100%;
          object-fit: cover; } }

@media only screen and (max-width: 810px) and (max-height: 430px) {
  .cuerpo-exposicion-cartelera .contenedor-cartelera-pelicula {
    padding: 10% 5% 5% 15%; } }
