@import 'components/font';
@import 'components/vars';
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: $poppins;
    font-weight: 200;
    font-size: 16px;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: $negro-ahumado;
    position: relative;
}
h1, h2, h3, h4, h5, h6, a, p{
    margin: 0;
    padding: 0;
    border: 0;
}
#encabezado{
    z-index: 5;
    width: 100vw;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .5s ease-in-out;
    ion-icon{
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    h1{
        font-weight: 700;
        padding: 0 $pad-20;
        font-size: calc(1.2rem + .5vw);
        border-radius: $border-radius;
    }
    #btn-menu{
        position: absolute;
        right: $pad-20;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        padding: 0 5px;
        border-radius: $border-radius;
    }
    #navegador{
        position: relative;
        #btn-cerrar{
            position: absolute;
            right: $pad-20;
            top: $pad-20;
        }
        .nav-lista{
            height: 100%;
            display: flex;
            .li-item{
                padding: 5px 10px;
                transition: $trans-500;
                margin: 0 $pad-20/2;
                border-radius: $border-radius;
                a{
                    letter-spacing: .5px;  
                    font-size: 1rem;
                    transition: $trans-500;
                }
            }
            .li-item.select{
                background-color: $gris-traslucido;
                box-shadow: 1px 2px 4px rgba(59, 59, 59, 0.2);
                a{
                    color: white;
                }
            }
        }
    }
    #navegador.show{
            background-color: transparent;
            backdrop-filter: blur(10px);
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            transition: $trans-800 ease-in-out;
            .nav-lista{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    height: fit-content;
                    margin: 30px 0;
                }
            }
    }
    .blur{
        transition: .5s ease-in-out;
    }
}
#inicio{
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    position: relative;
    .contenedor-peliculas{
        width: 100%;
        height: 100%;
        padding: 0 $pad-20;
        padding-bottom: $pad-20;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-star;
        .box-pelicula{
            margin: 0 40px;
            margin-top: $pad-20;
            cursor: pointer;
            img{
                z-index: -2;
                position: absolute;
                top: 0; left: 0; width: 100vw; height: 100%;
                object-fit: cover;
                object-position: center;
                filter: brightness(0.6);
                transition: $trans-800;
            }
            
            .detalle{
                border-bottom: solid .5px $gris-traslucido;
                position: relative;
                h1{
                    font-size: calc(2rem + .5vw);
                    text-transform: capitalize;
                    font-family: $bakbak;
                    @include textoBorde($blanco-traslucido);
                    transition: $trans-500 ease-in-out;
                }
                .genero{
                    font-weight: 500;
                    transition: $trans-500 ease-in-out;
                    text-transform: uppercase;
                    font-size: .8rem;
                    letter-spacing: 1px;
                    color: $blanco-traslucido;
                }
                .intertitulo{
                    color: $blanco-traslucido;
                    transition: $trans-500 ease-in-out;
                    font-size: calc(.5rem + .5vw);
                    text-transform: capitalize;
                    position: relative;
                    bottom: 10px;
                    left: 5px;
                }
                .duracion{
                    color: $blanco-traslucido;
                    display: inline;
                    position: absolute;
                    top: 50%; transform: translateY(-50%);
                    right: 0;
                    font-size: calc(.9rem + .5vw);
                    span{
                        color: $blanco-traslucido;
                        font-size: .85rem;
                    }
                }
            }
        }
        .box-pelicula.selected{
            opacity: 1;/* 
            border-bottom: solid .5px white; */
            img{
                opacity: 1;
                z-index: -1;
            }
            .detalle{
                h1{
                    color: white;
                    -webkit-text-stroke: 0;
                    font-size: calc(2.5rem + .5vw);
                    /*line-height: 38px;
                    margin-bottom: 20px; */
                }
                .genero{
                    color: white;
                }
                .intertitulo{
                    color: white;
                    font-size: calc(.6rem + .8vw);
                }
                .duracion{
                    color: white;
                    span{
                        color: white;
                    }
                }
            }
        }
    }
    .mas{
        position: absolute;
        top: 30%; right: $pad-20;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            p{
                font-size: .8rem;
            }
            ion-icon{
            width: 22px;
            height: 22px;
        }
        }
    }
}
/* #funciones{
    background-color: $negro-ahumado;
    height: 100vh;
    padding: 100px;
    padding-top: 50px;
    position: relative;
    h1{
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 10px;
        transform-origin: 0 0;
        transform: translate(10%, 750%) rotate(-90deg);
        position: absolute;
        left: 0;
        top: 0;
        color: $gris-traslucido;
    }
    .fechas{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        .fecha{
            width: 100%;
            border-bottom: solid 1px $blanco-traslucido;
            padding-top: 10px;
            padding-left: 20px;
            height: 100px;
            position: relative;
            .dia{
                color: $blanco-traslucido;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 5rem;
                font-weight: 700;
            }
            .mes{
                color: $blanco-traslucido;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1rem;
            }
            .detalle{
                color: $blanco-traslucido;
                font-size: .9rem;
                font-weight: 300;
                span{
                    @extend .detalle;
                }
            }
        }
    }

} */
#contacto{
    padding: 50px 10px;
    height: 100%;
    width: 100%;
    background-color: $negro-ahumado;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'a1 a2';
    justify-items: center;
    align-items: start;
    h1{
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: capitalize;
    }
    .mensaje{
        max-width: 350px;
        width: 100%;
        .form{
            grid-area: a1;
            height: fit-content;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .inputBox{
                width: 100%;
                margin: 18px 0;
                position: relative;
                input{
                    font-weight: 500;
                    position: relative;
                    padding: 20px 10px 10px;
                    background-color: transparent;
                    color: $negro-ahumado;
                    z-index: 2;
                    font-size: .85rem;
                    outline: none;
                }
                span{
                    position: absolute;
                    left: 0;
                    color: $blanco-traslucido;
                    font-size: .85rem;
                    transition: .5s;
                    pointer-events: none;
                    padding: 20px 10px 10px;
                    z-index: 3;
                    letter-spacing: .04rem;
                }
                input:valid ~ span, 
                input:focus ~ span{
                    color: white;
                    transform: translateY(-28px);
                    font-size: .7rem;
                }
                i{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: $blanco-traslucido;
                    height: 1px;
                    width: 100%;
                    overflow: hidden;
                    pointer-events: none;
                    transition: .5s;
                    border-radius: 5px;
                }
                input:valid ~ i, 
                input:focus ~ i{
                    height: 40px;
                }
            }
            #text-area{
                margin: 10px 0;
                width: 100%;
                height: 100px;
                resize: none;
                border-radius: 10px;
                padding: 10px;
                outline: none;
                font-size: .85rem;
                font-weight: 500;
                color: $negro-ahumado;
                background-color: $blanco-traslucido;
            }
            .btn-submit{
                z-index: 10;
                width: 100%;
                .submit{
                    position: relative;
                    width: 100%;
                    padding: 10px 10px;
                    background-color: transparent;
                    border: solid 2px crimson;
                    color: crimson;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: .8rem;
                    letter-spacing: 1px;
                    cursor: pointer;
                    transition: color .4s linear;
                }
                .submit:hover{
                    color: white;
                }
                .submit::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: crimson;
                    z-index: -1;
                    transition: transform .5s;
                    transform-origin: 0 0;
                    transform: scaleX(0);
                }
                .submit:hover::before{
                    transform: scaleX(1);
                }
            }
        }
    }
    .social-media{
        grid-area: a2;
        display: flex;
        flex-direction: column;
        @extend .mensaje;
        .wrapper{
            div{
                h2{
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: .7rem;
                    margin-top: 20px;
                    color: $gris;
                    letter-spacing: 1px
                }
            }
            .direccion a p{
                text-transform: capitalize;
            }
            .redes ul li{
                display: flex; align-items: center;
                ion-icon{
                    margin-right: 10px; 
                }
            }
            .llamada div{
                display: flex; align-items: center;
                ion-icon{
                    margin-right: 10px;
                }
            }
        }
    }
}
#footer{
    width: 100%;
    height: fit-content;
    padding: 15px;
    .enlace-rapido{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px;
        a {
            color: $blanco-traslucido;
            font-size: .8rem;
            margin: 0 20px;
        }
    }
    .copyright{
        width: 100%;
        border-top: solid .5px $gris-traslucido;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        p, p a{
            color: $blanco-traslucido;
            font-size: .7rem;
        }
    }
}
.footer-cartelera{
    position: absolute;
    bottom: 0;
    left: 0;
}
@import 'styles/info-pelicula';
@import 'components/mediaQ';
@import 'components/mediaQ-info-peli';