@import 'components/font';
@import 'components/vars';
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: $poppins;
    font-weight: 200;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgb(68, 68, 68);
}
#encabezado{
    z-index: 5;
    width: 100vw;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .5s ease-in-out;
    ion-icon{
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    h1{
        font-weight: 700;
        padding: 0 $pad-20;
        font-size: calc(20px + .5vw);
        border-radius: $border-radius;
    }
    #btn-menu{
        position: absolute;
        right: $pad-20;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        padding: 0 5px;
        border-radius: $border-radius;
    }
    #navegador{
        position: relative;
        #btn-cerrar{
            position: absolute;
            right: $pad-20;
            top: $pad-20;
        }
        .nav-lista{
            height: 100%;
            display: flex;
            .li-item{
                padding: 5px 10px;
                transition: $trans-500;
                margin: 0 $pad-20/2;
                border-radius: $border-radius;
                a{
                    letter-spacing: .5px;  
                    font-size: 16px;
                    transition: $trans-500;
                }
            }
            .li-item.select{
                background-color: $gris-traslucido;
                box-shadow: 1px 2px 4px rgba(59, 59, 59, 0.2);
                a{
                    color: white;
                }
            }
        }
    }
    #navegador.show{
            background-color: transparent;
            backdrop-filter: blur(10px);
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            transition: $trans-800 ease-in-out;
            .nav-lista{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    height: fit-content;
                    margin: 30px 0;
                }
            }
    }
    .blur{
        transition: .5s ease-in-out;
    }
}
#inicio{
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    position: relative;
    .contenedor-peliculas{
        width: 100%;
        height: 100%;
        padding: 0 $pad-20;
        padding-bottom: $pad-20;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-star;
        .box-pelicula{
            margin: 0 40px;
            margin-top: $pad-20;
            cursor: pointer;
            img{
                z-index: -2;
                position: absolute;
                top: 0; left: 0; width: 100vw; height: 100%;
                object-fit: cover;
                object-position: center;
                filter: brightness(0.6);
                transition: $trans-800;
            }
            
            .detalle{
                border-bottom: solid .5px $gris-traslucido;
                position: relative;
                h1{
                    font-size: calc(30px + .5vw);
                    text-transform: capitalize;
                    font-family: $bakbak;
                    @include textoBorde($blanco-traslucido);
                    transition: $trans-500 ease-in-out;
                }
                .genero{
                    font-weight: 500;
                    transition: $trans-500 ease-in-out;
                    text-transform: uppercase;
                    font-size: 10px;
                    letter-spacing: 1px;
                    color: $blanco-traslucido;
                }
                .intertitulo{
                    color: $blanco-traslucido;
                    transition: $trans-500 ease-in-out;
                    font-size: calc(8px + .5vw);
                    text-transform: capitalize;
                    position: relative;
                    bottom: 10px;
                    left: 5px;
                }
                .duracion{
                    color: $blanco-traslucido;
                    display: inline;
                    position: absolute;
                    top: 50%; transform: translateY(-50%);
                    right: 0;
                    font-size: calc(11px + .5vw);
                    span{
                        color: $blanco-traslucido;
                        font-size: 10px;
                    }
                }
            }
        }
        .box-pelicula.selected{
            opacity: 1;/* 
            border-bottom: solid .5px white; */
            img{
                opacity: 1;
                z-index: -1;
            }
            .detalle{
                h1{
                    color: white;
                    -webkit-text-stroke: 0;
                    font-size: calc(45px + .5vw);
                    /*line-height: 38px;
                    margin-bottom: 20px; */
                }
                .genero{
                    color: white;
                }
                .intertitulo{
                    color: white;
                    font-size: calc(10px + .8vw);
                }
                .duracion{
                    color: white;
                    span{
                        color: white;
                    }
                }
            }
        }
    }
    .mas{
        position: absolute;
        top: 30%; right: $pad-20;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 14px;
            ion-icon{
            width: 23px;
            height: 23px;
        }
        }
    }
}
@import 'styles/en-cartelera';
@import 'components/mediaQ';
@import 'components/mediaQ-exposicion';