@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

$poppins: 'Poppins';
$bakbak: 'Bakbak One';

@mixin textoBorde($color) {
    -webkit-text-stroke: .5px $color;
    color: transparent; 
}