@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

$poppins: 'Poppins';
$bakbak: 'Bakbak One';

@mixin textoBorde() {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent; 
}