$pad-20: 20px;

$trans-800: .8s;
$trans-500: .5s;

$gris: rgb(34, 34, 34);
$blanco-traslucido: rgb(206, 206, 206);
$gris-traslucido: rgba(255, 255, 255, 0.2);
$gris: rgb(97, 97, 97);
$negro-ahumado: rgb(19, 16, 11);

$border-radius: 8px;
